{% extends "layout.html" %}
{% block content %}
<div style="text-align: right;">
    <h1 dir="rtl">קצת עלינו</h1>
    <p dir="rtl">  ברוכים הבאים לאתר AtiTube</p>
    <p dir="rtl"> הדור הבא של הדרך לשמור סרטונים באינטרנט. המטרה שלנו היא לתת לכולכם מענה לשמירת סרטונים קצרים , במקום שתצטרכו לבזבז את כל שטח האחסון על מאות סרטונים קצרים תוכלו להעלות לפה ובכך לפתור את הבעיות שלכם.
    </p>
    <p dir="rtl"> האתר פורס שלל אפשרויות מלבד שמירת הסרטונים, בנוסף הוא מאפשר לכם לצפות בסרטון, למחוק אותו, לתת לו תיאור שיעזור לכם לזכור עד כמה הסרטון חשוב ללבכם. בנוסף האתר מאפשר שמירת כל סרטון שתרצו! לכן, אין לכם מה לדאוג שפתאום האתר יוריד לכם את הסרטון ולא תוכלו לצפות בו שוב, בניגוד לאתרים אחרים.
    בנוסף, אין לכם מה לדאוג מבחינת פריצה למשתמש שלכם ושהסרטונים שלכם יודלפו! הפרטי משתמש שלכם מוצפנים ובכך חסינים מפריצות והדלפות! </p>

    <p dir="rtl"> עכשיו למה דווקא סרטונים קצרים?
  כמו שנאמר קודם, האתר נועד לדור הבא של שמירת הסרטונים. היום, אנשים רבים כבר לא צופים בסרטונים ארוכים מכיוון שזה גוזל המון זמן ומאבדים עניין מהר מאוד. קחו לדוגמה את טיקטוק- ששם מה שהולך הם דווקא הסרטונים הטרנדיים הקצרים.</p>
    <p dir="rtl">אני מאמין שתמצאו באתר שלי שימוש רב ושתבינו עד כמה החשיבות שלו והתועלת שלו רבה!</p>

    <p dir="rtl">תודה מראש על תשומת ליבכם! ושתהיה לכם חוויה נעימה וכיפית! </p>
    <p dir="rtl">  לכל בעיה ושאלה אתם מוזמנים לפנות למייל האתר שלי!  <a href="mailto:atitubevideos@gmail.com">atitubevideos@gmail.com</a></p>
</div>
{% endblock content %}

